/*------------------------------------*\
    File variabel
\*------------------------------------*/

$font--primary: 'Poppins',
sans-serif;
$color--primary:#3D3F4F;
$color--secondary:#E8EAFC;
$font-color--primary: #212121;
$font-color--secondary: #E8EAFC;